:root {
    --blue: #1d40b6;
    --white: #fafafa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    min-width: 100vw;
}

/* Cabeçalho principal */

.cabecalho-principal {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
}

.cabecalho-principal a {
    color: var(--white);
}

/* Menu de navegação */

nav.menu {
    width: fit-content;
    height: fit-content;
}

nav.menu > ul {
    display: flex;
    gap: 100px;
}

nav.menu > ul > li > a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

main {
    margin: 5% 8%;
}

section.sobre {
    border: 1px solid;
    width: 45%;
}
section.sobre h2 {
    color: var(--blue);
}

.sobre-div-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 24px;
}

.photo-of-joao {
    /* Mover a imagem com o position
    ao lado do texto de apresentação do sobre mim */
}
.photo-of-joao div { 
    background-color: green;
    width: 400px;
    height: 400px;
}